<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>215561171049-l9orrok8bkdrtvemmtuajanll1be9um3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.215561171049-l9orrok8bkdrtvemmtuajanll1be9um3</string>
	<key>API_KEY</key>
	<string>AIzaSyDfihRRsQfLFIRgvr5UTzhXHtK91rP9bKo</string>
	<key>GCM_SENDER_ID</key>
	<string>215561171049</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.KatoKen.RefManager1-2</string>
	<key>PROJECT_ID</key>
	<string>refmanager1-2926b</string>
	<key>STORAGE_BUCKET</key>
	<string>refmanager1-2926b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:215561171049:ios:14cc16b76ec2f8cec5b2f8</string>
</dict>
</plist>
